body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color:#1c1e24;
    color:#f8f9fa;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

a{
    color:#f8f9fa;
}

/* Colors */
:root{--orange: #ff7e22;
    --yellow: #fca62a;
    --pink: #f57ad0;
    --purple: #673ece;
    --indigo: #5a43f1;
    --indigo-dark: #4509cf;
    --indigo-light: #969bf6;
    --indigo-muted: #f1f2fd;}


/* Prefabs */

.small-margin-top{
    margin-top: 1rem;
}

.little-margin-btm{
    margin-bottom: 2rem;
}

.medium-margin-btm{
    margin-bottom:3rem;
}

.small-padding-top{
    padding-top: 1rem;
}

.little-padding-top{
    padding-top: 2rem;
}

.medium-padding-top{
    padding-top: 3rem;
}


/* Footer styling */
.footer{
    text-align: center;
    bottom:0;
    margin-top: auto;
    background-color:#1c1e24;
}


/* Navbar styling */

.navigation{
    margin-bottom: 2rem;
}

.nav-element{
    padding-top: 2rem;
}

.nav-wrapper{
    padding-bottom: 1rem;
}

.brand{
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    color:#f8f9fa;
}

.brand:hover{
    color:#f8f9fa;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.routes{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.route-links{
    text-decoration: none;
    color:#f8f9fa;
    padding-bottom: .5rem;
    background-color: transparent;
}

.route-links:hover{
    text-decoration: none;
    color:#f8f9fa;
}

.home-outer{
   margin: 0 0 !important;
}

.active.home-route{
    border-bottom:1px solid var(--indigo) ;
}

.active.blogs-route{
    border-bottom: 1px solid var(--orange);
}

.active.projects-route{
    border-bottom: 1px solid var(--pink);
}

.active.tools-route{
    border-bottom: 1px solid var(--yellow);
}

.active.about-route{
    border-bottom: 1px solid var(--indigo-light);
}

.home-route:hover{
    border-bottom:1px solid var(--indigo) ;
}

.blogs-route:hover{
    border-bottom: 1px solid var(--orange);
}

.projects-route:hover{
    border-bottom: 1px solid var(--pink);
}

.tools-route:hover{
    border-bottom: 1px solid var(--yellow);
}

.about-route:hover{
    border-bottom: 1px solid var(--indigo-light);
}

/* Home page styling */

.introGreetings{
    font-size:2.3rem;
    line-height: 1.6;
    font-weight:bold;
}

.introParagraph{
    color: #d0d5df;
    line-height: 1.6;
    max-width: 90%;
    font-size:1rem;
    font-weight: bold;
    display:block;
    
}

.introPic{
    width:50%;
    height: auto;
    font-size: 1.2;
    border-radius:15px;
}

.introRedirectdiv{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.introRedirect{
    text-decoration: none;
}

.introRedirect:hover{
    color:#1c1e24;
    background-color:#d0d5df;
    padding: 0.7rem 0.7rem;
    border-radius:5px;
    font-size:1.1rem
}

.articles{
    margin-bottom:1rem
}

.articleMessage h3{
    padding-top: 1.5rem;
}

.articlesHeader{
    padding-top: 3.7rem;
    display:flex;
    justify-content: space-between;
    line-height:1.2;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-bottom: 0.5rem;
}

.articleHead{
    font-weight: bold;
    color: #F3E9DD;
    box-sizing: border-box;
}

.articleLink{
    font-weight: bold;
    font-size:1rem;
    text-decoration: none;
    border: 1px solid #7c817f;
    border-radius:5px;
    padding: 0.7rem 0.8rem;
    margin-bottom: 0.5em;
}

.articleLink:hover{
    color:#7c817f;
    border: 1px solid #f8f8f8;
    border-radius:5px;
}

.article-redirects{
    color:#a4a9ff;
    text-decoration: none;
}

.article-redirects:hover{
    border-bottom: 1px solid;
    color:#a4a9ff;
}

.grid-colors{
    border: 3px dashed #a3b2c1;
    border-radius: 15px;
    padding: 1rem;
    width: fit-content;
    height: fit-content;

}

.dotted-colors{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .5rem;
}


/* Blog page styling */

.articlediv{
    margin-bottom:3rem;
}

/* .articlesIntro{
   display: block;
} */

.Ariclehead {
    font-weight: bolder;
    font-size: 2.6rem;
    padding: 1.6rem 1rem;
}

.articlesIntro p{
    width: auto;
    text-align: left;
    padding: 1rem
}

.post {
    padding: 0.2rem 1rem;
    border-radius: 15px;
}

.post:hover{
    background-color:#212529;
}

.postlink:hover{
    color:#7c817f;
    background-color: #1c1e24;
}

.postitems{
    align-items: center;
    border: 1px solid transparent;
    display: block;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.5rem 0.5rem;
}

.postitems h3{
    font-size:1.1rem;
    font-weight: 500;
}

.postlink{
    text-decoration: none;
}



/* Projects page styling */
.about{
    line-height: 1.6;
}

.projectListSection{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.projectCard{
    background-color: #31363b !important;
    color: #f8f9fa;
    border: 1px dashed #a3b2c1;
    border-radius: 10px;
    height: 10rem !important;
}

.projectHeader{
    font-weight: bolder;
    margin-bottom: 2rem;
}

.projectTitle{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1rem;
}

.projectTitle:hover{
    text-decoration: underline;
    color: #f8f9fa;
}

.projectSoureCodeLink{
    padding: .5rem 1rem !important;
    border-radius: 10px !important;
    background-color: #1c1e24;
    text-decoration: none;
}

.projectSoureCodeLink:hover{
    color: #f8f9fa;
    border: 1px solid lightgray;
}

.projectYear{
    font-weight: lighter;
    font-size: .9rem;
    padding-bottom: .4rem;
}

/* About page styling */
.about{
    margin:3rem auto;
    text-align: left;
}

.aboutIntro h3{
    font-weight: bolder;
    font-size: 2.6rem;
    padding-top: 1.6rem;
    padding-bottom: 1rem
}

.aboutIntro p{
    padding-bottom: 1.3rem;
    font-size:1.4rem;
    color:#7c817f;
    display:block;
}

.connect-div{
    padding-top:3rem;
}

.connect-div h4{
    font-size: 1.8rem;
    font-weight:bold;
}

.connect-div p{
    font-size:1.2rem;
}

.connectLinks{
    line-height:2rem;
}

.connectLinks a {
    text-decoration: none;
    font-size:1.1rem;
    font-weight:lighter;
    color:#a4a9ff
}

.connectLinks-discord{
    font-size:1.1rem;
    font-weight:lighter;
    color:#a4a9ff;
}

.connectLinks a:hover {
    color:#a4a9ff;
    border-bottom:1px solid;
}

.experience{
    padding-top:2rem;
}

.experience h4{
    font-size: 1.8rem;
    font-weight:bold;
}

.experience-heading{
    grid-gap: 1rem;
    align-items: center;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: auto 13rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.2rem 0.4rem;
}

.company-name p{
    padding-bottom: 1.3rem;
}

.expreience-tasks li{
    padding-left:3rem;
    line-height:1.9rem;
}

.experice-div{
    padding-bottom: 2rem;
}

.skills{
    padding-bottom:2rem;
}

.skills h4{
    font-size: 1.8rem;
    font-weight:bold;
}

.skills li{
    padding-left:3rem
}

.education h4{
    font-size: 1.8rem;
    font-weight:bold;
}

.miscellaneous h4{
    font-size: 1.8rem;
    font-weight:bold;
    margin-top: 2rem;
}

.miscellaneous li{
    color: #a4a9ff;
    font-size:1.1rem;
}

.miscellaneous li a{
    color: #a4a9ff;
    font-size:1.1rem;
    text-decoration: none;
}

/* Page not found */
.notfound{
    text-align:center

}

.notfoundbtn{
    margin-top: 2rem;
}

/* BlogPost styling */

.posthead p{
text-align:center
}

.postheadertitle{
    font-weight: bold;
}

.postheader h1{
    text-align: center;
    font-size:2rem;
    font-weight:bold
}

.posthead{
    padding-bottom: 3rem;
}

.code-highlight{
    margin:1rem 0;
    max-width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    box-sizing:border-box;
    background-color: #373c47;
    border-radius: 6px;
    padding: .5rem .5rem;
    
}

.code-text{
    padding: .1rem .5rem ;
    text-size-adjust: none;
    font-size: .9rem;
}

.posts-image{
    width:70%;
    height:50%;
    margin:1rem 0 ;
}

.post-links{
    text-decoration: none;
    color:#a4a9ff;
    font-size:1.1rem;
    font-weight:light;
}

.post-links:visited{
    text-decoration: none;
}

.post-links:hover{
    color:#a4a9ff;
    padding: .5rem;
}

/* Resume view */
.resume-header{
    margin-bottom: 3rem;
}

.resume-headers{
    font-weight: bolder;
    font-size: 3rem;
}

.resume-connections-links{
    color:white;
    line-height:2;
}

.resume-connections-links span li{
    font-size: 1.2rem;
    font-weight:bold;
}

.resume-connections-links span li a{
    color: #a4a9ff;
    font-size: medium;
}

.resume-mail{
    color: white;
    font-size: medium;
}

.resume-mail-address{
    color: #a4a9ff;
}

.resume-experience-title{
    font-size:2rem;
    font-weight: bolder;
}

.resume-experience-roles{
    line-height: 1.5;
    margin-bottom:0.5rem;
    box-sizing: border-box;
}

.resume-skills-list{
    line-height: 2;
}

.resume-degree{
    line-height: 1.5;
}



/* Media query */
@media (max-width:1000px) {
    .nav-wrapper{
        display: none;
    }

    .padding-div{
        display: none;
    }

    .nav-section{
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: .5px solid #d0d5df;
    }
    
    .nav-routes{
        display: block;
        margin-left: 0;
     }

    
    .routes{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom:.5rem;
        width: 100%;
    }
    
    .introPic{
        display: none;
    }

    .resume-name{
        font-size: 2rem;
    }

    .resume-headers{
        font-size: 2rem;
    }

    .resume-experience-title{
        font-size: 1.5rem;
    }

    .resume-experience-details{
        font-size: .95rem;
    }

    .resume-experience-roles{
        box-sizing: border-box;
        font-size: .95rem;
    }

    .grid-colors{
        display: none;
        visibility: hidden;
    }
}

@media screen and (min-width: 700px) {
    .mobile-only {
      display: none !important;
    }

    .blogs{
        margin-left: -1rem;
    }
  }