body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color:#282c34;
    color:#f8f9fa;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

a{
    color:#f8f9fa;
}


/* Footer styling */
.footer{
    text-align: center;
    bottom:0;
    margin-top: auto;
    background-color:#1c1e24;
}


/* Navbar styling */
.navigation-bar {
    font-weight:bolder;
    color:#d0d5df;
    padding: 0 0.9rem !important;
}

.navigation-bar li:hover{
    border-radius: 0px;
}

.git-logo{
    color: #f8f8f8!important;
}
.header-div{
    background-color:#1c1e24;
    margin-bottom: 3rem;
}

.logo{
    font-size: 1.5rem;
    font-weight:bold;
    color:#f8f9fa;
}

.blog-link:hover{
    border-bottom: 1px solid #a4a9ff;
}

.project-link:hover{
    border-bottom: 1px solid #da66b7;
}

.about-link:hover{
    border-bottom: 1px solid #b0292c;
}

/* Home page styling */

.introGreetings{
    font-size:2.3rem;
    line-height: 1.6;
    font-weight:bold;
}

.introParagraph{
    color: #d0d5df;
    line-height: 1.65;
    max-width: 90%;
    
}
.introPic{
    width:10rem;
    font-size: 1.2;
    border-radius:15px;
    
}

.introRedirectdiv{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.introRedirect{
    text-decoration: none;
}

.introRedirect:hover{
    color:#1c1e24;
    background-color:#d0d5df;
    padding: 0.7rem 0.7rem;
    border-radius:5px;
    font-size:1.1rem
}

.articles{
    margin-bottom:1rem
}

.articleMessage h3{
    padding-top: 1.5rem;
}

.articlesHeader{
    padding-top: 3.7rem;
    display:flex;
    justify-content: space-between;
    line-height:1.2;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-bottom: 0.5rem;
}

.articleHead{
    font-weight: bold;
    color: #F3E9DD;
    box-sizing: border-box;
}

.articleLink{
    font-weight: bold;
    font-size:1.1rem;
    text-decoration: none;
}

.articleLink:hover{
    color:#7c817f;
    background-color:#1c1e24;
    padding: 0.4rem 1rem
}

/* Blog page styling */

.articlediv{
    margin-bottom:3rem;
}

/* .articlesIntro{
   display: block;
} */

.Ariclehead {
    font-weight: bolder;
    font-size: 2.6rem;
    padding: 1.6rem 1rem;
    text-align: center;
}

.articlesIntro p{
    width: auto;
    text-align: center;
    padding: 1rem
}

.post {
    padding: 0.2rem 1rem;
    border-radius: 15px;
}

.post:hover{
    background-color:#1c1e24
}

.postlink:hover{
    color:#7c817f;
    background-color: #1c1e24;
}

.postitems{
    grid-gap: 1rem;
    align-items: center;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: auto 7rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.5rem 0.5rem;
}

.postitems h3{
    font-size:1.1rem;
    font-weight: 500;
}

.postlink{
    text-decoration: none;
}



/* Projects page styling */
.about{
    line-height: 1.6;
}
.projectsInto{
    text-align: center
}

.projectsInto h3{
    font-weight: bolder;
    font-size: 2.6rem;
    padding: 1.6rem 1rem
}

.projectsInto p{
    width: 100%
}

/* About page styling */
.about{
    margin:3rem auto;
}

.aboutIntro{
    text-align:center
}

.aboutIntro h3{
    font-weight: bolder;
    font-size: 2.6rem;
    padding-top: 1.6rem;
    padding-bottom: 1rem
}

.aboutIntro p{
    padding-bottom: 1.3rem;
    font-size:1.4rem;
    color:#7c817f;
    display:block;
}

.connect-div{
    padding-top:3rem;
}

.connect-div h4{
    font-size: 1.8rem;
    font-weight:bold;
    color:#92BA92
}

.connect-div p{
    font-size:1.2rem
}

.connectLinks{
    line-height:2rem;
}

.connectLinks a {
    text-decoration: none;
    font-size:1.1rem;
    font-weight:lighter;
    
}

.connectLinks-discord{
    font-size:1.1rem;
    font-weight:lighter;
}

.connectLinks a:hover {
    background-color: #d0d5df;
    padding:0rem 1rem;
    color:black;
}

.experience{
    padding-top:2rem;
}

.experience h4{
    font-size: 1.8rem;
    font-weight:bold;
    color:#92BA92
}
.experience-heading{
    grid-gap: 1rem;
    align-items: center;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: auto 13rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.2rem 0.4rem;
}

.company-name p{
    padding-bottom: 1.3rem;
}

.expreience-tasks li{
    padding-left:3rem;
    line-height:1.9rem;
}

.experice-div{
    padding-bottom: 2rem;
}

.skills{
    padding-bottom:2rem;
}

.skills h4{
    font-size: 1.8rem;
    font-weight:bold;
    color:#92BA92;
}

.skills li{
    padding-left:3rem
}

.education h4{
    font-size: 1.8rem;
    font-weight:bold;
    color:#92BA92
}

/* Page not found */
.notfound{
    text-align:center

}

.notfoundbtn{
    margin-top: 2rem;
}

/* BlogPost styling */


.posthead p{
text-align:center
}

.postheadertitle{
    font-weight: bold;
}

.postheader h1{
    text-align: center;
    font-size:2rem;
    font-weight:bold
}

.posthead{
    padding-bottom: 3rem;
}

.code-highlight{
    margin:1rem 0;
    max-width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    box-sizing:border-box;
    background-color: #373c47;
    border-radius: 6px;
    padding: .5rem .5rem;
    
}

.code-text{
    padding: .1rem .5rem ;
    text-size-adjust: none;
    font-size: .9rem;
}

.posts-image{
    width:70%;
    height:50%;
    margin:1rem 0 ;
}

.post-links{
    text-decoration: none;
}

.post-links:visited{
    text-decoration: none;
}

.post-links:hover{
    color:#1c1e24;
    padding: .5rem;
    background-color:#d0d5df;
    text-decoration: none
}