body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color:#282c34;
    color:#f8f9fa;
}
a{
    color:#f8f9fa;
}

h4{
    color:#f8f9fa;
}

ul li{
    color:#f8f9fa !important;
}



.footer-div{
    background-color:#1c1e24;
}
.git-logo{
    color: #f8f8f8!important;
}

/* Navbar styling */
ul li {
    font-weight:bolder;
}

.header-div{
    background-color:#1c1e24;
    margin-bottom: 3rem;
}

/* Home page styling */
.introGreetings{
    font-size:2.3rem;
    line-height: 1.6;
}

.introParagraph{
    color: #d0d5df;
    line-height: 1.65;
}
.introPic{
    width:10rem;
    font-size: 1.2;
    border-radius:15px
}


/* About page styling */


/* Projects page styling */